
* {
    color: #2f5d8a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #2e78e7; */
    background-color: rgb(62, 15, 106);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    margin: 0;
}

.titulo {
    background-color: #ffffff;
    padding: 20px;
    padding-top: 10px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: auto;
    align-items: flex-start;
    box-shadow: 0px 4px 25px rgb(2, 169, 214);

}

h1 {
    color: #4A90E2;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 20px;
    white-space: nowrap;
}

.date-range {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 10px;
}

.date-range label {
    font-size: 1em;
    color: #333;
    margin-right: 5px;
}

.date-range input[type="date"] {
    padding: 5px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4A90E2;
    color: #ffffff;
    margin-top: 5px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #357ABD;
}

.logo {
    width: 150px; /* Ajuste conforme necessário */
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#produtos_gratis {
    margin-top: 5px;
    margin-bottom: 5px;
}

#Lancamento_prod {
    margin-top: 5px;
}
.previ {

    padding: 25px;
}

ul {
    list-style-type: none; 
}

li {
    color: #4A90E2;
    font-size: large;
}

h2 {
    color: #4A90E2;
    margin-bottom: 10px;
}

#graficoButton{
    background-color: #4A90E2;
    color: #ffffff;
    margin-top: 5px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

#graficoButton:hover {
    background-color: #357ABD;
}

#Imagem_previsao {
    margin: auto;
}

.graph-container {
    text-align: center; 
    margin: 20px 0;    
}

.centralized-graph {
    display: inline-block; 
    max-width: 100%;      
    height: 350px;         
}

