<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão de Vendas</title>
    <link rel="stylesheet" href="static//style.css">
</head>
<body>
    <div class="titulo">
        <img src="{{ url_for('static', filename='images/logo_freitulitos.png') }}" alt="Logo" class="logo"> 
        <h1>Previsão de Vendas da Próxima Semana</h1>
            <div class="mensage">
                <form method="POST">
                    <label for="start-date">Data Início:</label>
                    <input type="date" id="start-date" name="start-date">
                    
                    <label for="end-date">Data Final:</label>
                    <input type="date" id="end-date" name="end-date">

                    <p id="produtos_gratis">          
                    <label for="prod_gratis">Produtos Gratis:</label>
                    <input type="number" id="prod_gratis" name="prod_gratis">

                    <p id="combos_produtos">

                    <label for="combo">Combo de produtos:</label>
                    <input type="number" id="combo" name="combo">

                    <p id="lanca_prod">

                    <label for="Lancamento_prod">Lançamento de produto:</label>
                    <input type="checkbox" id="Lancamento_prod" name="Lancamento_prod">
                    <p>

                    <button type="submit">Prever Vendas</button>
                </form>
                <div class="previ"> 
                {% if prediction %}
                    <h2>Previsão de Vendas:</h2>
                    <ul>
                        <li>{{ prediction }}</li>
                    </ul>
                {% endif %}
                </div>
            </div>
        </div>    

</body>
</html>
