<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão de Vendas</title>
    <link rel="stylesheet" href="static//style.css">
</head>
<body>
    <div class="titulo">
        <img src="{{ url_for('static', filename='images/logo_freitulitos.png') }}" alt="Logo" class="logo"> 
        <h1>Previsão de Vendas da Próxima Semana</h1>
            <div class="mensage">
                <form method="POST">
                    <label for="start-date">Data Início:</label>
                    <input type="date" id="start-date" name="start-date">
                    
                    <label for="end-date">Data Final:</label>
                    <input type="date" id="end-date" name="end-date">
                
                    <button type="submit">Prever Vendas</button>
                </form>
            </div>
        </div>    
    {% if prediction %}
        <h2>Previsão de Vendas:</h2>
        <ul>
            {% for sale in prediction %}
                <li>{{ sale }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
