<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão de Vendas</title>
    <link rel="stylesheet" href="static//style.css">
</head>
<body>
    <div class="titulo">
        <h1>Previsão de Vendas da Próxima Semana</h1>
            <div class="mensage">
                <form method="POST">
                    <label for="historico">Histórico de Vendas (JSON ou outros dados relevantes):</label><br>
                    <input type="text" id="historico" name="historico" required><br><br>
                    <button type="submit">Prever Vendas</button>
                </form>
            </div>
        </div>    
    {% if prediction %}
        <h2>Previsão para a Próxima Semana: {{ prediction }}</h2>
    {% endif %}
</body>
</html>
